<!DOCTYPE html>
<html>
<head>
    <title>Registration - New Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css"/>
{% extends "layout.html" %}

{% block content %}
    
    <h2>New User Registration</h2>

    <div class="container">
        <form name="register" action="register.php" method="get">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <br>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <br>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <br class="clear">
            <input class="btn-submit" type="submit" name="submit">
        </form>

    </div>
{% endblock %}
